body {
background-image: url("https://imgur.com/qm2ni9n.png");
background-size: cover;
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
}
.brand-logo{
    margin: auto 0;
}
.login {
    margin: auto 0;
}
.navbar-fixed{
    background-color: lavender;
    margin: auto 0;
    font-family: 'Lobster', cursive;
}
.nav-wrapper{
    justify-content: space-evenly;
    display: flex;
   font-size: 25px;
}
.home{
    color: blue;
    margin: auto 0;
}
.user-background {
    background-image: url('https://imgur.com/A20guNM.png');
    background-size: cover;
}
.ramen {
    color: white;
    background-image: url('https://imgur.com/OkTaSjg.png');
    background-size: cover;
}
.title{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
    margin: auto 0;
    
}
.ind-user{
    background-color: white;
    font-family: 'Sulphur Point';
    
}
