<!DOCTYPE html>
  <html lang="en">
    <body>
      <%- include('../partials/nav')%>
    <div class="row">
      <div id="users" class="col s12">
        <% users.forEach(function(user) { %>
              <div>
                  <i class="small material-icons">perm_identity</i>
                  <span class="user-name">
                    <a href="/users/<%= user._id %>"><%= user.name %></a>
                  </span>
                  <table>
                    <thead>
                      <th>Restaurants</th>
                    </thead>
                    <tbody>
                    <% users.forEach(function(user) { %>
                      <tr>
                        <td><%=user.restaurants%></td>
                      </tr>
                    <% }) %>
                    </tbody>
                  </table>
                </span>
          </div>
          <% }) %>
      </div>
      </div>
  </body>
</html>
